@using Mango.ViewModels.Account
@model AccountLoginVM
 
@{
    var returnUrl = Context.Request.Query["returnUrl"];
}


<section class="login-container">
    <div class="form-container">
        <div class="slide-controls">
            <input type="radio" name="slide" id="login" checked>
            @*<input type="radio" name="slide" id="signup">*@
            <label for="login" class="slide login" style="margin-right: 80px">Login</label>
            @*<label for="signup" class="slide signup"><a asp-action="register" asp-controller="account" style="text-decoration:none; color:black">Sign up</a></label>*@
            <div class="slider-tab"></div>
        </div>
        <div class="form-inner">
            <form class="login" id="signinpage" method="post" asp-action="login" asp-controller="account">
                <div class="field">
                    <input asp-for="Username" type="text" placeholder="Username" required>
                     <span asp-validation-for="Username"></span>
                </div>
                <div class="field">
                    <input asp-for="Password" type="password" placeholder="Password" required>
                    <span asp-validation-for="Password"></span>
                </div>
                @*<div class="pass-link">
                    <a href="#">Forgot password?</a>
                </div>*@
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="field btn">
                    @*<div class="btn-layer"></div>*@
                    <button type="submit" class="btn btn-dark" style="border: none;
    background-color: black;
    color: white;
    padding: 0.8rem 5rem;
cursor:pointer">
                        Login
                    </button>
                </div>
                <div class="signup-link">
                    <div>Forgotten your account</div>
                    <div class="duz-line"></div>
                    <div>Don't have an account &nbsp; <a asp-action="register" asp-controller="account" style="text-decoration:none; color:black">Sign up now</a></div>
                </div>
            </form>
        </div>
    </div>
</section>