@using Mango.Areas.Admin.ViewModels.ProductSubCategory
@model ProductSubCategoryCreateVM

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">

                        <p class="card-description">
                            Create Product SubCategory
                        </p>
                        <form enctype="multipart/form-data" method="post" asp-action="create" asp-controller="productsubcategory" asp-area="admin" class="forms-sample">
                            <div class="form-group">
                                <label asp-for="Title">Title</label>
                                <input class="form-control" asp-for="Title">
                                <span asp-validation-for="Title"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ProductCategoryId">ProductCategoryId</label>
                                <select class="form-select" asp-for="ProductCategoryId" asp-items="Model.Categories"></select>
                                <span asp-validation-for="ProductCategoryId"></span>
                            </div>

                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <a class="btn btn-danger" asp-action="index" asp-controller="productsubcategory" asp-area="admin"> Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>